<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#212121">
<link rel="stylesheet" href="/css/style.css">
<link rel="icon" href="/img/name/name-single.svg">
<link rel="icon" href="/img/name/name-single-32.png" sizes="32x32">
<link rel="icon" href="/img/name/name-single-64.png" sizes="64x64">
<link rel="icon" href="/img/name/name-single-128.png" sizes="128x128">
<title>Marco Scannadinari</title>
