<!doctype html>
<html lang="en" dir="ltr">
	<head>
		{{>head}}
	</head>
	<body>
		{{>header}}
		<main class="main">
			{{{contents}}}
		</main>
		{{>footer}}

		<script src="/js/upup.js"></script>
		<script>
			UpUp.start({
				"content-url": "/",
				"assets": [
					"/css/style.css",

					"/js/upup.js",
					"/upup-sw.js",

					"/img/name/name-darkbg.svg",
					"/img/name/name-compact-darkbg.svg",
					"/img/name/name-single.svg",
					"/img/name/name-single-32.png",
					"/img/name/name-single-64.png",
					"/img/name/name-single-128.png",
					"/img/name/name-single-256.png",
				],

				"service-worker-url": "/upup-sw.js",
			});
		</script>
	</body>
</html>
